.product-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    border: 1px solid #e5e7eb;
}

.product-card img {
    height: 160px;
    object-fit: contain;
    background: #f9fafb;
    border-radius: 8px;
    padding: 8px;
}


.product-card h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: #111827;
}

.product-card .description {
    font-size: 12px;
    color: #6b7280;
    line-height: 1.4;
    max-height: 70px;
    overflow: hidden;
}

.product-card .price {
    color: #111827;
    font-size: 15px;
    font-weight: 600;
}

.product-card button {
    margin-top: auto;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.product-card button:hover {
    background: #1d4ed8;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.products-container{
    background: white;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.products-title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 16px;
}

#cart {
    position: sticky;
    top: 24px;
    height: fit-content;
    width: 100%;
    background: white;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

.layout {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 24px;
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;

}

@media (max-width:768px) {
    .layout {
        grid-template-columns: 1fr;
    }

    #cart {
        position: static;
        margin-top: 24px;
    }
}