.product-card {
    background: #26272c;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-card img {
    height: 160px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 14px;
    color: white;
}

.product-card .description {
    font-size: 12px;
    color: #b5b8c0;
    line-height: 1.4;
    max-height: 50px;
    overflow: hidden;
}

.product-card .price {
    font-weight: bold;
    color: #ededed;
    font-size: 16px;
    font-weight: 600;
}

.product-card button {
    margin-top: auto;
    padding: 8px;
    background: #3e4f6e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.product-card button:hover {
    background: #4a5e85;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    width: 100%;
}

#cart {
    position: sticky;
    top: 24px;
    height: fit-content;
    width: 100%;
    background: #2b2d33;
    padding: 16px;
    border-radius: 8px;
}

.layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    padding: 24px;
    align-items: start;
}