.product-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    border: 1px solid #e5e7eb;
}

.product-card img {
    height: 160px;
    object-fit: contain;
    background: #f9fafb;
    border-radius: 8px;
    padding: 8px;
}


.product-card h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: #111827;
}

.product-card .description {
    font-size: 12px;
    color: #6b7280;
    line-height: 1.4;
    max-height: 70px;
    overflow: hidden;
}

.product-card .price {
    color: #111827;
    font-size: 15px;
    font-weight: 600;
}

.product-card button {
    margin-top: auto;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.product-card button:hover {
    background: #1d4ed8;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    flex: 1;
    overflow-y: auto;
    padding-top: 10px;
}

.products-container {
    background: white;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


#cart,
#products {
    background: white;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

#cart {
    padding: 16px;
}

.products-title,
.cart-title {
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
    min-height: 0;
}

.cart-list {
    padding: 16px;
    flex: 1;
    overflow-y: auto;
    padding: 10px 0;
}

.cart-item {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    gap: 12px;
    padding: 12px 0;
    border-bottom: 1px solid #e5e7eb;
    justify-content: space-between;
    align-items: center;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 48px;
    height: 48px;
    object-fit: contain;
    background: #f9fafb;
    border-radius: 8px;
    padding: 6px;
}

.cart-item-title {
    font-size: 14px;
    font-weight: 500;
    color: #111827;
    width: 100%;
    max-width: 300px;
    text-align: start;
    height: 100%;
    max-height: 55px;
    overflow: hidden;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cart-item-actions button {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    background: #f9fafb;
    cursor: pointer;
    font-size: 16px;
    line-height: 1px;
}

.cart-item-actions button:hover {
    background: #e5e7eb;
}

.cart-item-actions p {
    min-width: 24px;
    text-align: center;
    font-size: 14px;
}

.cart-item-remove {
    margin-left: auto;
    background: transparent;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
}

.cart-item-remove:hover {
    text-decoration: underline;
}

.cart-total {
    font-size: 20px;
    font-weight: 600;
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
    text-align: end;
}

.cart-item-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 12px;
}

.cart-item-controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}


.layout {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 40px);
    padding: 20px;
}

@media (max-width:1024px) {
    .cart-item-content{
        display: flex;
        justify-content: space-between;
    }
    .cart-item-title{
        max-width: 70px;
    }
}

@media (max-width:768px) {
    .layout {
        grid-template-columns: 1fr;
    }

    #cart {
        position: static;
        margin-top: 24px;
    }

     .cart-item-title{
        max-width: 300px;
    }
}

@media (max-width: 450px) {
  .cart-item {
    grid-template-columns: 1fr;
    row-gap: 8px;
    align-items: flex-start;
  }
  .cart-item-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}